.btn_list {
  list-style: none;
  display: flex;
  gap: 15px;
  justify-content: space-evenly;
  padding: 0;
}

.btn {
  padding: 5px;
  min-width: 90px;

  font-size: 16px;

  background-color: rgb(164, 190, 247);
  border-color: blue;
  cursor: pointer;
}

.btn::first-letter {
  text-transform: uppercase;
}
